.country {
  @include reset;
  margin: auto;
  width: 288px;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 93px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1170px;
    margin: auto;
    margin-bottom: 85px;
  }
}

.country__list {
  @include reset;
  margin: auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    justify-content: space-around;
    column-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    column-gap: 57px;
    row-gap: 60px;
  }
}

.country__item {
  position: relative;
  margin-bottom: 30px;

  @media (min-width: $desktop-width) {
    //margin-right: 20px;
  }
}

.country__item:nth-child(odd) {
  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.country__item:nth-child(2n) {
  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }
}

.country__item:nth-child(4) {
  @media (min-width: $desktop-width) {
    margin-right: 55px;
  }
}

.country__item:last-child {
  margin-bottom: 0;
  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}

.country__show-more {
  display: none;
}

.country__item:hover .country__show-more {
  display: block;
  position: absolute;
  top: 160px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $white;
  border: 1px solid $white;
  width: 266px;
  padding: 30px 20px;
}

.country__link {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: $dark;

  &::after {
    display: none;
    position: absolute;
    content: "";
    width: 288px;
    height: 425px;
    background-color: $hover;
    top: 0;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 350px;

    &:after {
      width: 350px;
    }
  }
}

.country__link:hover {
  &::after {
    display: block;
  }
}

.country__titiles {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  position: absolute;
  z-index: 1;
  top: 368px;
  left: 120px;
  min-width: 92px;
  background-color: $white;
  width: 215px;
  padding-top: 16px;
  padding-bottom: 16px;
  top: 340px;
  left: 40px;

  @media (min-width: $desktop-width) {
    top: 343px;
    left: 66px;
  }
}

.country__img-file {
  width: auto;
}
