.intro {
  display: block;
  @include reset;
  margin: auto;
  width: 288px;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 343px;
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 1170px;
    text-align: left;
    margin-bottom: 56px;
  }
}

.intro__title {
  @include reset;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 358px;
    text-align: left;
    font-weight: 600;
    font-size: 55px;
    line-height: 80px;
    position: relative;
    margin-bottom: 64px;

    &::before {
      position: absolute;
      content:"";
      width: 4px;
      height: 228px;
      background-color: $orange;
      transform: rotate(90deg);
      top: 58px;
      left: 112px;
    }
  }
}

.intro__paragraph {
  @include reset;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: $text;
  width: 288px;

  @media (min-width: $tablet-width) {
    width: 346px;
  }
  @media (min-width: $desktop-width) {
    width: 358px;
    text-align: left;
  }
}
