.modal-sucsess {
  display: none;
  width: 320px;
  height: 444px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    background-color: $menu;
    width: 720px;
    height: 444px;
  }
}

.modal-sucsess__title {
  @include reset;
  font-weight: 500;
  font-size: 25px;
  line-height: 43px;
  color: $text-modal;
  margin-top: 179px;
  text-align: center;
}

.modal-sucsess__close {
  position: absolute;
  cursor: pointer;
  border: none;
  top: 40px;
  right: 60px;
  background-color: $menu;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 25px;
    width: 37px;
    height: 1px;
    background-color: $text-modal;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
    top: 0;
  }

  &::after {
    transform: rotate(-45deg);
    top: 0;
  }
}
