.orange-button {
  display: block;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  background-color: $orange;
  border: none;
  cursor: pointer;
}
