$white: #ffffff;
$black: #000000;
$dark: #2C2E3F;
$menu: #FBF8F8;
$hover: rgba(0, 0, 0, 0.3);
$orange: #FE7865;
$orange-hover: #F17D4B;
$tabs: rgba(44, 46, 63, 0.3);
$text: rgba(44, 46, 63, 0.7);
$text-price: rgba(20, 21, 23, 0.7);
$text-question: #141517;
$text3: rgba(20, 21, 23, 0.5);
$text-modal: #48494D;
$toggle: #DADADA;
$line: #D7D9DF;
$background-country: #7aeb34;
$background-price:  rgb(255,10,10);



/*main*/
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1920px;
